.btn{
    padding: 5px 10px;
    border: #FF6704 2px solid;
}
.bg{
    background-image: url(../img/sad-face-bladder-cartoon-raised-up-404-boards-vector-34404028.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 280px;
}